<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.irasethpharma">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IrasethPharma"
        tools:targetApi="31">
        <activity
            android:name=".AdminInventoryAddProducts"
            android:exported="false" />
        <activity
            android:name=".SalesReport"
            android:exported="false" />
        <activity
            android:name=".InventoryActivity"
            android:exported="false" />
        <activity
            android:name=".EmailActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Feedback"
            android:exported="false" />
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".Aboutus"
            android:exported="false" />
        <activity
            android:name=".SetUpSecurityQuestion"
            android:exported="false" />
        <activity
            android:name=".AccountVerified"
            android:exported="false" />
        <activity
            android:name=".PasswordUpdated"
            android:exported="false" />
        <activity
            android:name=".NewCredential"
            android:exported="false" />
        <activity
            android:name=".FinalVerification"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".SupplierDetails"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".AdminUserProducts"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".Customeroderstatus"
            android:exported="false" />
        <activity
            android:name=".Customerdetails"
            android:exported="false" />
        <activity
            android:name=".admincreateacc"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".Transaction"
            android:exported="false" />
        <activity
            android:name=".DeliveryInformation"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>